body{
    font-family: montserrat;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: montserrat;
}


p{
    color: #8f8f8f;
    font-size: 1.1rem;
}


/*Headings*/

.big-heading{
    font-family: montserrat;
    font-size: 5rem;
    line-height: 1.5
}


/*Containers*/

.container-fluid{
    padding: 7% 15%;
}



/*Sections*/

.colored-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
    background-color: #fff;
}



/*navigation bar*/

.navbar{
    padding: 0 0 4.5rem;
}



.navbar-brand{
    font-family: ubuntu;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.3rem;
    font-family: montserrat-light;
}



/*Download button*/

.download-button{
    margin: 5% 3% 5% 0;
}


/*Title Section*/

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}



/*Title image*/

.title-image{
    position: absolute;
    right: 22%;
    width: 29%;
    transform: rotate(25deg)
       
    
}


/*features section*/

#features{
    position: relative;
}

.feature-title{
    font-size: 1.6rem;
}

.feature-box{
    padding: 5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}


/*testimonial section*/

#testimonials{
    background-color: #ef8172;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5
}


.test-img{
    width: 10%;
    border-radius: 100%;
    margin: 1rem;
}


#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}


.press{
    width: 15%;
    margin: 20px 20px 50px;
}


.carousel-item{
    height: 500px;
}


/*Pricing section*/

#pricing{
    padding: 100px;
}

.price-text{
    font-size: 4rem;
    line-height: 1.5
}

.pricing{
    padding: 3% 2%;
    
}


.social-icon{
    margin: 20px 10px;
}



/*@media*/

@media(max-width: 1028px) {

    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
        width: 50%;
    }
}

